
.ng-scope.wc-time-sec.wc-time-sec[_ngcontent-c13]{
    cursor: pointer;
}

.inc-btn[_ngcontent-c13], .dec-btn[_ngcontent-c13]{
    cursor: pointer;
}

.wc-date-container[_ngcontent-c13] > span[_ngcontent-c13]{
    color: black !important;
}


.wc-date-container[_ngcontent-c13]{
    color: black !important;
}

.disabled-picker {
    cursor: not-allowed;
 }
 .disabled-picker:before {
    content: "";
     z-index: 1;
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(255, 255, 255, 0.8);
 }

 .required-field{
    color: red;
}

.div_hint{
    text-align: right !important;
    position: relative;
    top: 7px;
    padding-right: 0px !important;
}