<form [formGroup]="dateTimeElementForm" novalidate *ngIf="dateTimeDataElement.isVisible">

  <!---Right to left layout------>
  <div class="form-group" *ngIf="!alignLabelAndControlToTopAndBottom && dateTimeDataElement.isRelevant">
    <div class="col-sm-4 text-right">
      <label class="control-label break-word">
        <span *ngIf="isDateTimeElementRequired()" class="required-field" title="Required Field">
          *
        </span>
        {{dateTimeDataElement.label}}
        <span *ngIf="utilityService.isNotEmptyString(dateTimeDataElement.unit)">
          ({{dateTimeDataElement.unit}})</span>
      </label>
      <ng-container *ngIf="utilityService.isNotEmptyString(dateTimeDataElement.hint)">
        <!-- <i class="fa fa-info-circle text-primary font-size-inherit whitespace" title="{{dateTimeDataElement.hint}}"></i> -->
        <a tabindex="0" class="btn btn-xs btn-info gly-radius whitespace" role="button" data-toggle="popover"
          data-trigger="focus" title="{{dateTimeDataElement.hint}}">Hint</a>
      </ng-container>

    </div>
    <div class="col-sm-8">
      <div [ngClass]="dateTimeDataElement.isEditable == false ? 'disabled-picker' : ''">
        <input class="form-control color-inherit" formControlName="dateTimeElement" [owlDateTime]="dt1"
          (dateTimeChange)="onDateTimeSelected()" [owlDateTimeTrigger]="dt1">
        <owl-date-time #dt1></owl-date-time>
      </div>
    </div>
  </div>

  <!--------Top to bottom layout------>
  <div class="form-group" *ngIf="alignLabelAndControlToTopAndBottom && dateTimeDataElement.isRelevant">
    <div class="col-lg-12">
      <div class="col-lg-10 labelparentdiv">
        <label class="control-label break-word">
          <span *ngIf="isDateTimeElementRequired()" class="required-field whitespace" title="Required Field">*</span>
          {{dateTimeDataElement.label}}
          <span *ngIf="utilityService.isNotEmptyString(dateTimeDataElement.unit)">
            ({{dateTimeDataElement.unit}})</span>
          <!-- <span *ngIf="isDateTimeElementRequired()" class="required-field" title="Required Field">
            *
          </span> -->
        </label>
        <ng-container *ngIf="utilityService.isNotEmptyString(dateTimeDataElement.hint)">
          <!-- <i class="fa fa-info-circle text-primary whitespace" title="{{dateTimeDataElement.hint}}"></i> -->
          <a tabindex="0" class="btn btn-xs btn-info gly-radius whitespace" role="button" data-toggle="popover"
            data-trigger="focus" title="{{dateTimeDataElement.hint}}">Hint</a>
        </ng-container>
      </div>
      <div class="col-lg-2 div_hint">

      </div>
      <div [ngClass]="dateTimeDataElement.isEditable == false ? 'disabled-picker' : ''">
        <input class="form-control color-inherit" style="position: relative;top: 7px;" formControlName="dateTimeElement"
          [owlDateTime]="dt1" (dateTimeChange)="onDateTimeSelected()" [owlDateTimeTrigger]="dt1">
        <owl-date-time #dt1></owl-date-time>
      </div>
    </div>
  </div>
</form>