<!-- <div class = "row">
  <div class= "col-sm-12">
      <div class="panel panel-default">
          <div class="panel-heading"><strong>Select  the Template file</strong></div>
          <div class="panel-body">
              <div class="row">
                    <div class="col-sm-12 col-md-4 col-xs-12"> Select the file to be uploaded</div>
                    <div class="col-sm-12 col-md-8 col-xs-12"><input type="file" accept=".xml" (change)="changeListener($event)"></div>
              </div>
          </div>
        </div>
  </div>
</div> -->

<input id="xmlFileUpload" class="inputfile" type="file" accept=".xml" (change)="changeListener($event)" (click)="hideMessage()">
<label for="xmlFileUpload">Choose a file</label><br>
<div id="xmlOnlyMsg" class="xml-only-msg"> Only XML files are supported !!!</div>