.cursor-pointer {
  cursor: pointer;
}

.image-map-container {
  position: relative;
  display: inline-block;
}

.image-map-container img {
  display: block;
}

.image-map-container .map-selector {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #546E7A00;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: top, left, right, bottom, color;
}

.map-selector:after {
  content: '';
  position: absolute;
  background: currentColor;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background: currentColor;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: top, left, right, bottom, background;
  pointer-events: none;
}