<div class="col-lg-8">
    <label class="control-label font-weight-400">Not sure? try out this image </label>
    <button type="button" class="btn btn-default font-size-inherit" (click)="openImageMap()">
        <span aria-hidden="true" data-toggle="tooltip" data-placement="top"
        title="Image Map"><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
    </button>
</div>
<div bsModal #modalPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    (onShown)="initializeSelectedOverlayData()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modalPopup.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"> {{ getSelectedValues() }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ngx-loading [show]="isOverlayLoading"></ngx-loading>
                        <div class="image-map-container">
                            <ng-container *ngIf="isValidImageURL(dataElement.imageMap.location); else notImageUrl">
                                <img #image class="ImgOption danger img-responsive" alt="{{ dataElement.imageMap.label }}"
                                    attr.usemap="#{{ 'image_map_' + dataElement.id }}" [src]="dataElement.imageMap.location">
                            </ng-container>
                            <ng-template #notImageUrl>
                                <img #image class="ImgOption danger img-responsive" alt="{{ dataElement.imageMap.label }}"
                                    attr.usemap="#{{ 'image_map_' + dataElement.id }}"
                                    [src]="getImageDataUrl(dataElement.imageMap.location) | secure">
                            </ng-template>
                            <ng-container *ngFor="let imgOpt of dataElement.imageMap.map.areas; let i = index">
                                <canvas #canvases class="{{ map_selector_class }}" style="display: none;"
                                    (mouseover)="updateHoverOverlay(i, true)" (mouseout)="updateHoverOverlay(i, false)"
                                    (click)="setSelectedValue(i)">
                                </canvas>
                            </ng-container>
                        </div>
                        <map name="{{ 'image_map_' + dataElement.id }}" id="{{ 'image_map_' + dataElement.id }}">
                            <ng-container *ngFor="let imgOpt of dataElement.imageMap.map.areas; let i = index">
                                <area class="cursor-pointer" attr.shape="{{ imgOpt.shape }}"
                                    attr.coords="{{ imgOpt.coords }}"
                                    attr.choice="{{ imgOpt.choiceValue }}" title="{{ imgOpt.choiceValue }}"
                                    attr.selectedFill="{{ imgOpt.selectedFill }}"
                                    attr.hoverFill="{{ imgOpt.hoverFill }}" attr.outline="{{ imgOpt.outline }}"
                                    (mouseover)="updateHoverOverlay(i, true)" (mouseout)="updateHoverOverlay(i, false)"
                                    (click)="setSelectedValue(i)" />
                            </ng-container>
                        </map>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modalPopup.hide()"
                    aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>