<div class="col-lg-12" style="padding: 0">
    <div class="col-lg-2" style="padding: 8px; padding-left: 20px;" (click)="openImageMap()">
        <span aria-hidden="true" data-toggle="tooltip" data-placement="top"
        title="Image Map"><img class="image-map-gif" src="assets/images/image-map.gif" alt=""></span>
    </div>
    <div class="col-lg-10" style="padding: 0; padding-top: 12px;">
        <label class="control-label" style="text-align: left;">
            <span class="font-weight-bold">OR </span> 
            <span class="image-map-text ">click on this graphic to view and select more detailed findings. Mouse over and click any category hot spot area to select the findings.</span>
        </label>
        <label ></label>
    </div>
</div>
<div bsModal #modalPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" (onShown)="initializeSelectedOverlayData()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modalPopup.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"> {{ getSelectedValues() }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ngx-loading [show]="isOverlayLoading"></ngx-loading>
                        <div class="image-map-container">
                            <ng-container *ngIf="isValidImageURL(dataElement.imageMap.location); else notImageUrl">
                                <img #image class="ImgOption danger img-responsive" alt="{{ dataElement.imageMap.label }}"
                                    attr.usemap="#{{ 'image_map_' + dataElement.id }}" [src]="dataElement.imageMap.location">
                            </ng-container>
                            <ng-template #notImageUrl>
                                <img #image class="ImgOption danger img-responsive" alt="{{ dataElement.imageMap.label }}"
                                    attr.usemap="#{{ 'image_map_' + dataElement.id }}"
                                    [src]="getImageDataUrl(dataElement.imageMap.location) | secure">
                             </ng-template>
                             <!-- <ng-container *ngFor="let imgOpt of dataElement.imageMap.map.areas; let i = index">
                                <canvas #canvases class="{{ map_selector_class }}" style="display: none;"
                                    (mouseover)="updateHoverOverlay(i, true)" (mouseout)="updateHoverOverlay(i, false)"
                                    (click)="setSelectedValue(i)">
                                </canvas>
                            </ng-container> -->
                        </div>
                        <map name="{{ 'image_map_' + dataElement.id }}" id="{{ 'image_map_' + dataElement.id }}">
                            <ng-container *ngFor="let imgOpt of dataElement.imageMap.map.areas; let i = index">
                                <area class="cursor-pointer" attr.shape="{{ imgOpt.shape }}"
                                    attr.coords="{{ imgOpt.coords }}" class="{{ map_selector_class }}"
                                    attr.choice="{{ imgOpt.choiceValue }}" title="{{ imgOpt.choiceValue }}"
                                    attr.selectedFill="{{ imgOpt.selectedFill }}"
                                    attr.hoverFill="{{ imgOpt.hoverFill }}" attr.outline="{{ imgOpt.outline }}"
                                    (mouseover)="updateHoverOverlay(i, true)" (mouseout)="updateHoverOverlay(i, false)"
                                    (click)="setSelectedValue(i)" />
                            </ng-container>
                        </map>
                        <!-- <img src="assets/images/PI-RADS-Zone-Map.jpg" style="position: fixed;" usemap="#image-map" width="870" height="1126">

                        <map name="image-map" style='z-index: -1; position: absolute;'>
                            <area id="cat1" class="cat1" coords="599,369,586,328,608,279,660,273,678,304,683,370" class="{fillColor:'00ff00'}" shape="poly" choice="cat1" style="cursor:pointer">
                            <area coords="690,370,695,308,724,264,769,288,790,325,779,368" shape="poly" style="cursor:pointer">
                            <area coords="613,394,685,394,685,468,630,443" shape="poly" style="cursor:pointer">
                            <area coords="689,396,765,392,749,443,690,467" shape="poly" choice="cat4" style="cursor:pointer">
                        </map> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modalPopup.hide()"
                    aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>