<ng-container *ngIf="ValueBlock !== undefined  && !validate(ValueBlock.ValidationCondition)">
  <ng-container *ngIf="evaluate(ValueBlock.Condition)">
      <ng-container *ngIf="ValueBlock.ArithmeticExpression !=''">
          <ng-container *ngIf="DataElement.ShowValue">
              <label class="control-label DEElement">  {{compute(ValueBlock.ArithmeticExpression)}}</label>
          </ng-container>
          <ng-container *ngIf="!DataElement.ShowValue">
              <input type="hidden"   [attr.value]="compute(ValueBlock.ArithmeticExpression)" />
          </ng-container>
      </ng-container>
      <ng-container *ngIf="ValueBlock.TextExpression !=undefined ">
          <ng-container *ngIf="DataElement.ShowValue">
              <label class="control-label DEElement">  {{textify(ValueBlock.TextExpression)}}</label>
          </ng-container>
          <ng-container *ngIf="!DataElement.ShowValue">
              <input type="hidden"   [attr.value]="textify(ValueBlock.TextExpression)" />
          </ng-container>
      </ng-container>
      <ng-container *ngIf="ValueBlock.NestedBlocks.length > 0">
          <ng-container *ngFor="let NestedBlock of ValueBlock.NestedBlocks">
              <acr-value-block [ValueBlock]="NestedBlock" [DataElement]="DataElement" [DataElements]="DataElements" [FormValues]="FormValues"></acr-value-block>
          </ng-container>
      </ng-container>
  </ng-container>

  <ng-container *ngIf="ValueBlock.ElseBlocks.length > 0">
      <ng-container *ngIf="!evaluate(ValueBlock.Condition)">
          <ng-container *ngFor="let ElseBlock of ValueBlock.ElseBlocks">
              <acr-value-block [ValueBlock]="ElseBlock" [DataElement]="DataElement" [DataElements]="DataElements" [FormValues]="FormValues"></acr-value-block>
          </ng-container>
      </ng-container>
  </ng-container>
</ng-container>
