.bg-light-grey {
    background-color: #ecf0f5 !important;
}

.padding-5 {
    padding: 5px !important;
}

.padding-l-5 {
    padding-left: 5px !important;
}

.padding-r-5 {
    padding-right: 5px !important;
}

.padding-t-5 {
    padding-top: 5px !important;
}

.padding-b-5 {
    padding-bottom: 5px !important;
}

.padding-t-b-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-l-r-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.padding-t-b-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.padding-t-b-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.padding-t-20 {
    padding-top: 20px !important;
}


.padding-l-20 {
    padding-left: 20px !important;
}

.padding-l-r-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.text-bright-green {
    color: #dbea68 !important;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-l-15 {
    padding-left: 15px !important;
}

.padding-r-10 {
    padding-right: 10px !important;
}

.padding-r-0 {
    padding-right: 0px !important;
}

.table-noborder td, .table-noborder th {
    border: none !important;
}

.bg-white {
    background-color: #fff;
}

.white-space-line {
    white-space: pre-line;
}

.font-size-14 {
    font-size: 14px;
}

.padding-t-b-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.margin-l-15 {
    margin-left: 15px;
}

.margin-b-5 {
    margin-bottom: 5px !important;
}
.margin-b-10 {
    margin-bottom: 10px !important;
}
.not-label
{
    font-weight:normal;
}
.margin-b-0 {
    margin-bottom: 0px !important;
}
.margin-t-10{
	margin-top:10px;
}

