<div class="col-xs-12 col-sm-5 text-left content-padding">
    <label class="control-label DEElement" id="{{numericDataElement.id}}">
      {{numericDataElement.label}}
    </label>
    <ng-container *ngIf="numericDataElement.hint!=''">
        <a>
          <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="{{numericDataElement.hint}}"></span>
        </a>
      </ng-container>
      <ng-container *ngIf="numericDataElement.diagrams != undefined ">
        <acr-hint-diagram [DataElement]="numericDataElement" [imagePath]="imagePath"></acr-hint-diagram>
      </ng-container>
  </div>
  
  <div class="col-xs-12 col-sm-7 text-left content-padding">
      <div class="row">
          <div class="col-sm-12">
            <input id="{{numericDataElement.id}}" type="number" class="form-control" name="{{numericDataElement.id}}"
              (keyup)="choiceSelected($event.target)" required>
          </div>
        </div>
  </div>