<form [formGroup]="numericElementForm">

  <!-----Right to left alignment-->
  <div class="form-group" *ngIf="!alignLabelAndControlToTopAndBottom && numericDataElement.isRelevant">
    <div class="col-sm-4 text-left">
      <label class="control-label break-word">
        <span *ngIf="isNumericElementRequired()" class="required-field" title="Required Field">
          *
        </span>
        {{numericDataElement.label}}
        <span *ngIf="utilityService.isNotEmptyString(numericDataElement.unit)">({{numericDataElement.unit}})</span>
      </label>
      <ng-container *ngIf="utilityService.isNotEmptyString(numericDataElement.hint)">
        <i class="fa fa-info-circle text-primary font-size-inherit whitespace" title="{{numericDataElement.hint}}"></i>
      </ng-container>
      <ng-container *ngIf="utilityService.isValidInstance(numericDataElement.diagrams)">
        <acr-hint-diagram [dataElement]="numericDataElement" [assetsBaseUrl]="assetsBaseUrl"></acr-hint-diagram>
      </ng-container>
      <span *ngIf="isNumericElementMin()" class="required-field"
        title=" Minimum value is {{ numericDataElement.minimum }}">
        *
      </span>
      <span *ngIf="isNumericElementMax()" class="required-field"
        title=" Maximum value is {{numericDataElement.maximum}}">
        *
      </span>
    </div>
    <ng-container *ngIf="numericDataElement.dataElementType === 'NumericDataElement'">
      <div class="col-sm-8">
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null" acrNumericOnly
          id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" formControlName="numericElement"
          onpaste="return false;" (input)="choiceSelected($event.target, numericDataElement.label)"
          min="{{numericDataElement.minimum}}" max="{{numericDataElement.maximum}}"
          [ngClass]="{ 'ai-input-background': hasAIInputStyle(), 'show-error': numericDataElement.showValidation }" required>
        <span *ngIf="isNumericElementMin()" class="validatorMessageSpan">
          Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
        <span *ngIf="isNumericElementMax()" class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="numericDataElement.dataElementType === 'IntegerDataElement'">
      <div class="col-sm-8">
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null"
          id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" formControlName="numericElement"
          (keypress)="onlyIntegerKey($event)" onpaste="return false;"
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" [ngClass]="{ 'ai-input-background': hasAIInputStyle(), 'show-error': numericDataElement.showValidation }" required>
        <span *ngIf="isNumericElementMin()" class="validatorMessageSpan">
          Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
        <span *ngIf="isNumericElementMax()" class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
  </div>

  <!------Top to bottom alignment------->
  <div class="form-group" *ngIf="alignLabelAndControlToTopAndBottom && numericDataElement.isRelevant">
    <ng-container *ngIf="numericDataElement.dataElementType === 'NumericDataElement'">
      <div class="col-lg-12">
        <div class="col-lg-10 labelparentdiv">
          <label class="control-label break-word">
            {{numericDataElement.label}}
            <span *ngIf="utilityService.isNotEmptyString(numericDataElement.unit)">({{numericDataElement.unit}})</span>
            <span *ngIf="isNumericElementRequired()" class="required-field" title="Required Field">
              *
            </span>
            <span *ngIf="isNumericElementMin()" class="required-field"
              title=" Minimum value is {{numericDataElement.minimum}}">
              *
            </span>
            <span *ngIf="isNumericElementMax()" class="required-field"
              title=" Maximum value is {{numericDataElement.maximum}}">
              *
            </span>
          </label>
          <ng-container *ngIf="utilityService.isNotEmptyString(numericDataElement.hint)">
            <!-- <i class="fa fa-info-circle text-primary whitespace" title="{{numericDataElement.hint}}"></i> -->
            <a tabindex="0" class="btn btn-xs btn-info gly-radius whitespace" role="button" data-toggle="popover"
            data-trigger="focus" title="{{numericDataElement.hint}}">Hint</a>
          </ng-container>
        </div>
        <div class="col-lg-2 div_hint">       
          <ng-container *ngIf="utilityService.isValidInstance(numericDataElement.diagrams)">
            <acr-hint-diagram [dataElement]="numericDataElement" [assetsBaseUrl]="assetsBaseUrl"></acr-hint-diagram>
          </ng-container>
        </div>
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null"
          id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" acrNumericOnly
          formControlName="numericElement" onpaste="return false;"
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" [ngClass]="{ 'ai-input-background': hasAIInputStyle(), 'show-error': numericDataElement.showValidation }" required>
        <span *ngIf="isNumericElementMin()" class="validatorMessageSpan">
          Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
        <span *ngIf="isNumericElementMax()" class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="numericDataElement.dataElementType === 'IntegerDataElement'">
      <div class="col-lg-12">
        <div class="col-lg-10 labelparentdiv">
          <label class="control-label break-word">
            {{numericDataElement.label}}
            <span *ngIf="utilityService.isNotEmptyString(numericDataElement.unit)">
              ({{numericDataElement.unit}})</span>
            <span *ngIf="isNumericElementRequired()" class="required-field" title="Required Field">
              *
            </span>
            <span *ngIf="isNumericElementMin()" class="required-field"
              title=" Minimum value is {{numericDataElement.minimum}}">
              *
            </span>
            <span *ngIf="isNumericElementMax()" class="required-field"
              title=" Maximum value is {{numericDataElement.maximum}}">
              *
            </span>
          </label>
          <ng-container *ngIf="utilityService.isNotEmptyString(numericDataElement.hint)">
            <!-- <i class="fa fa-info-circle text-primary whitespace" title="{{numericDataElement.hint}}"></i> -->
            <a tabindex="0" class="btn btn-xs btn-info gly-radius whitespace" role="button" data-toggle="popover"
            data-trigger="focus" title="{{numericDataElement.hint}}">Hint</a>
          </ng-container>
        </div>
        <div class="col-lg-2 div_hint">         
          <ng-container *ngIf="utilityService.isValidInstance(numericDataElement.diagrams)">
            <acr-hint-diagram [dataElement]="numericDataElement" [assetsBaseUrl]="assetsBaseUrl"></acr-hint-diagram>
          </ng-container>
        </div>
        
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null"
          id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" formControlName="numericElement"
          (keypress)="onlyIntegerKey($event)" onpaste="return false;"
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" [ngClass]="{ 'ai-input-background': hasAIInputStyle(), 'show-error': numericDataElement.showValidation }" required>
        <span *ngIf="isNumericElementMin()" class="validatorMessageSpan">
          Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
        <span *ngIf="isNumericElementMax()" class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
  </div>
</form>