<form [formGroup]="numericElementForm" novalidate>
  <!-----Right to left alignment-->
  <div class="form-group" *ngIf="!alignLabelAndControlToTopAndBottom">
    <div class="col-sm-4 text-right">
      <label class="control-label break-word">
        {{numericDataElement.label}}
        <span *ngIf="numericDataElement.unit != undefined && numericDataElement.unit != ''">
          ({{numericDataElement.unit}})</span>
      </label>
      <ng-container *ngIf="numericDataElement.hint !== '' && numericDataElement.hint !== undefined">
        <i class="fa fa-info-circle text-primary font-size-inherit whitespace" title="{{numericDataElement.hint}}"></i>
      </ng-container>
      <ng-container *ngIf="numericDataElement.diagrams != undefined ">
        <acr-hint-diagram [dataElement]="numericDataElement" [imagePath]="imagePath"></acr-hint-diagram>
      </ng-container>
      <ng-container *ngIf="this.numericDataElement.isRequired">
        <span *ngIf="numericElementForm.controls.numericElement.invalid">
          <span *ngIf="numericElementForm.controls.numericElement.errors.required" class="required-field"
            title="Required Field">
            *
          </span>
        </span>
      </ng-container>
      <span
        *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
        class="required-field" title=" Minimum value is {{numericDataElement.minimum}}">
        *
      </span>
      <span
        *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
        class="required-field" title=" Maximum value is {{numericDataElement.maximum}}">
        *
      </span>
    </div>
    <ng-container *ngIf="numericDataElement.dataElementType === 'NumericDataElement'">
      <div class="col-sm-8">
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null" acrNumericOnly
        (keyup)="_keyUp($event, numberValue)" 
        [(ngModel)]="numberValue" id="{{numericDataElement.id}}" type="text" class="form-control color-inherit"
          formControlName="numericElement" onpaste="return false;"
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" required>
          <span
          *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
          class="validatorMessageSpan">
             Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
          <span
          *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
          class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="numericDataElement.dataElementType === 'IntegerDataElement'">
      <div class="col-sm-8">
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null" [(ngModel)]="numberValue"
          id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" formControlName="numericElement"
          (keypress)="onlyIntegerKey($event)" onpaste="return false;"
          (keyup)="_keyUpInteger($event, numberValue)"         
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" required>
          <span
          *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
          class="validatorMessageSpan">
             Value should be greater than or equal to {{numericDataElement.minimum}}
        </span>
          <span
          *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
          class="validatorMessageSpan">
          Value should be less than or equal to {{numericDataElement.maximum}}
        </span>
      </div>
    </ng-container>
  </div>

  <!------Top to bottom alignment------->
  <div class="form-group" *ngIf="alignLabelAndControlToTopAndBottom">
    <ng-container *ngIf="numericDataElement.dataElementType === 'NumericDataElement'">
      <div class="col-lg-12">
          <div class="col-lg-10 labelparentdiv">
        <label class="control-label break-word">
          {{numericDataElement.label}}
          <span *ngIf="numericDataElement.unit != undefined && numericDataElement.unit != ''">
            ({{numericDataElement.unit}})</span>
            <ng-container *ngIf="this.numericDataElement.isRequired">
              <span *ngIf="numericElementForm.controls.numericElement.invalid">
                <span *ngIf="numericElementForm.controls.numericElement.errors.required" class="required-field"
                  title="Required Field">
                  *
                </span>
              </span>
            </ng-container>
            <span
              *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
              class="required-field" title=" Minimum value is {{numericDataElement.minimum}}">
              *
            </span>
            <span
              *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
              class="required-field" title=" Maximum value is {{numericDataElement.maximum}}">
              *
            </span>
        </label>
        </div>
        <div class="col-lg-2 div_hint">
        <ng-container *ngIf="numericDataElement.hint !== '' && numericDataElement.hint !== undefined">
          <i class="fa fa-info-circle text-primary whitespace" title="{{numericDataElement.hint}}"></i>
        </ng-container>
        <ng-container *ngIf="numericDataElement.diagrams != undefined ">
          <acr-hint-diagram [dataElement]="numericDataElement" [imagePath]="imagePath"></acr-hint-diagram>
        </ng-container>
       </div>
        <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null" 
          [(ngModel)]="numberValue" id="{{numericDataElement.id}}" type="text" class="form-control color-inherit"
          (keyup)="_keyUp($event, numberValue)"
          acrNumericOnly
          formControlName="numericElement" onpaste="return false;"
          (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
          max="{{numericDataElement.maximum}}" required>
            <span
            *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
            class="validatorMessageSpan">
               Value should be greater than or equal to {{numericDataElement.minimum}}
          </span>
            <span
            *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
            class="validatorMessageSpan">
            Value should be less than or equal to {{numericDataElement.maximum}}
          </span>
      </div>
    </ng-container>
    <ng-container *ngIf="numericDataElement.dataElementType === 'IntegerDataElement'">
      <div class="col-lg-12">
      <div class="col-lg-10 labelparentdiv">
        <label class="control-label break-word">
          {{numericDataElement.label}}
          <span *ngIf="numericDataElement.unit != undefined && numericDataElement.unit != ''">
            ({{numericDataElement.unit}})</span>
            
              <ng-container *ngIf="this.numericDataElement.isRequired">
                <span *ngIf="numericElementForm.controls.numericElement.invalid">
                  <span *ngIf="numericElementForm.controls.numericElement.errors.required" class="required-field"
                    title="Required Field">
                    *
                  </span>
                </span>
              </ng-container>
              <span
                *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
                class="required-field" title=" Minimum value is {{numericDataElement.minimum}}">
                *
              </span>
              <span
                *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
                class="required-field" title=" Maximum value is {{numericDataElement.maximum}}">
                *
              </span>
        </label>
      </div>
      <div class="col-lg-2 div_hint">
          <ng-container *ngIf="numericDataElement.hint !== '' && numericDataElement.hint !== undefined">
              <i class="fa fa-info-circle text-primary whitespace" title="{{numericDataElement.hint}}"></i>
            </ng-container>
            <ng-container *ngIf="numericDataElement.diagrams != undefined ">
              <acr-hint-diagram [dataElement]="numericDataElement" [imagePath]="imagePath"></acr-hint-diagram>
            </ng-container>      
      </div>
      <input [attr.disabled]="numericDataElement.isEditable == false ? 'disabled' : null" [(ngModel)]="numberValue"
      id="{{numericDataElement.id}}" type="text" class="form-control color-inherit" formControlName="numericElement"
      (keypress)="onlyIntegerKey($event)" onpaste="return false;"
      (keyup)="_keyUpInteger($event, numberValue)"
      (input)="choiceSelected($event.target, numericDataElement.label)" min="{{numericDataElement.minimum}}"
      max="{{numericDataElement.maximum}}" required>
      <span
      *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.min"
      class="validatorMessageSpan">
         Value should be greater than or equal to {{numericDataElement.minimum}}
    </span>
      <span
      *ngIf="numericElementForm.controls.numericElement.invalid && numericElementForm.controls.numericElement.errors.max"
      class="validatorMessageSpan">
      Value should be less than or equal to {{numericDataElement.maximum}}
    </span>
    </div>
    </ng-container>
  </div>
</form>