/* Modal Styles */

.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}

.modal-dialog {
  z-index: 2200;
}

.modal-body {
  padding: 20px 30px 30px 30px;
}

.inmodal .modal-body {
  background: #f8fafb;
}

.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}

.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.inmodal .modal-title {
  font-size: 26px;
}

.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}

.modal-footer {
  margin-top: 0;
}

.modal-backdrop {
  top: 10000px !important;
}


/* Input Styles */

input[type=file].inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin: 0;
}

input[type=file].inputfile+label:active,
input[type=file].inputfile+label {
  max-width: 100%;
  font-size: 100%;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  display: inline-block;
  color: #f1e5e6;
  background-color: #d3394c;
  text-indent: 0px;
}

input[type=file].inputfile+label:hover {
  background-color: #722040;
}

input[type=file].inputfile+label {
  cursor: pointer;
}

input[type=file].inputfile:hover+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

input[type="radio"]:checked+div {
  background-color: #1e89b5 !important;
  border: 1px solid #9b9b9b;
  color: #ffffff;
}

input[type="radio"]+div {
  background-color: #f5f5f5 !important;
  border: 1px solid #9b9b9b;
  border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type="number"]:hover,
input[type="number"]:focus,
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"] {
  max-width: 280px;
  margin-left: 0px !important;
  border-radius: 5px !important;
  text-transform: capitalize;
}

.checkbox>label {
  
  height: auto;
  line-height: 25px;
  width: 100%;
  
}

.checkbox>label>input[type="checkbox"] {
  margin-left: -20px;
  margin-top: 6px;
}

[type="radio"]+span::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 1em;
  border: 0.1px solid #fff;
  box-shadow: 0 0 0 1px #57aed0;
  margin-right: 4px;
  transition: 0.5s ease all;
  margin-left: -15px;
}

[type="radio"]:checked+span::before {
  background: #57aed0;
  box-shadow: 0 0 0 2px #57aed0;
  margin-top: auto;
}

.close {
  margin-top: -20px !important;
}


.xml-only-msg {
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  color: white;
  width: 220px;
  display: inline-block;
  font-weight: bold;
}

@media (min-width: 400px) and (max-width: 1024px) {
  .xml-only-msg {
    width: 120px;
  }
}

#Can-ImgMap {
  pointer-events: none;
  position: absolute;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .form-group {
    padding-left: 30px;
    padding-right: 30px;
  }
  .col-sm-5.text-right {
    float: left;
  }
  .col-sm-8 {
    padding-right: 30px;
  }

  .control-label {
    text-align: left !important;
  }
  
}

@media only screen and (min-width: 1224px) {
  .modal-lg {
    left: 0;
  }
}

.form-group {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.control-label {
  margin-top: 0;
  margin-left: 0;
}

@media (min-width: 1224px) {
  .modal-lg {
    width: 630px;
  }
}

@media (min-width: 1850px) {
  .modal-lg {
    width: 900px;
  }
}

[type="number"] {
  max-width: 280px;
}

@media (min-width:1441px) {
  .DEValues {
    height: auto;
  }
}

.row {
  font-weight: bold;
}

.bottom-margin {
  margin-bottom: 25px;
}

.img-max-width {
  width: 70% !important;
}

.keydiagram {
  text-align: center;
  margin-top: 10px;
}

.fixed-report-text-sidebar {
  position: fixed;
  right: 0;
  width: 45%;
}

.keydiagram {
  width: 100%;
  text-align: center;
  margin-left: 0px !important;
}

.row.content-area {
  padding: 0px 5px;
}

.text-right.border-0>h4 {
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .keydiagram {
    width: 100%;
    margin-left: 9%;
  }
  .img-max-width {
    width: 80% !important;
  }
}

@media (max-width: 1023px) {
  .fixed-report-text-sidebar {
    position: relative;
  }
}

.padding-top-10 {
  padding-top: 10px;
}

/* Box Stylings */
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
  content: " ";
  display: table;
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}

.box.box-solid {
  border-top: 0;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
/* Custom Panel */

.ac-container {
  margin: 0 auto;
  text-align: left;
}

.ac-container label {
  margin-bottom: 0;
  padding: 5px 20px 5px 40px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 22px;
  font-size: 14px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: -o-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  background: linear-grdient(top, #ffffff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label:hover {
  background: #fff;
}

.ac-container input:checked+label,
.ac-container input:checked+label:hover {
  /* background: #c6e1ec;
  color: #3d7489; */
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container label:after
 {
  content: '\2b';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 4px;
  font-size: 18px;
}

.ac-container input:checked+label:after, .ac-container input:checked + label:hover:after{
  content: '\2212';
  font-size: 18px;
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  font-style: normal;
  font-weight: bold;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.ac-container input:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked~article.ac-small {
  height: auto;
}

.ac-container input:checked~article.ac-medium {
  height: 180px;
}

.ac-container input:checked~article.ac-large {
  height: 230px;
}

.ac-container>div {
  margin-bottom: 10px;
}

.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
  margin-top: 5px;
}

.ibox-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.ibox-content {
  clear: both;
}

.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}

.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  float: left;
}

.ibox-title .label {
  float: left;
  margin-left: 4px;
}

.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

.ibox-tools a.btn-primary {
  color: #fff;
}

.ibox-tools .dropdown-menu>li>a {
  padding: 4px 10px;
  font-size: 12px;
}

.ibox .ibox-tools.open>.dropdown-menu {
  left: auto;
  right: 0;
}

@media (max-width: 768px) {
  .ibox-tools {
    float: none;
    text-align: right;
    display: block;
  }
}

@media (max-width: 350px) {
  .ibox-tools {
    float: none;
    text-align: left;
    display: inline-block;
  }
}

p.white-space-line {
  white-space: pre-line;
}

.required-field {
  padding: 5px;
  font-size: 16px;
  color: red;
  display: inline-block;
  font-weight: bold;
}
