.required-field {
  color: red;
  font-size: large;
}

.owl-dt-container {
  font-size: 1.5rem !important;
}

.padding-l-5 {
  padding-left: 5px;
}

.whitespace {
  margin-left: 5px;
}

.max-w-h-100 {
  max-width: 100%;
  max-height: 100%;
}

.carousel-control>.fa {
  font-size: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -20px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.div-simulator-form-height {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.padding-r-10 {
  padding-right: 10px;
}

.slide-left {
  left: 30px;
}

.slide-right {
  right: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-space-line {
  white-space: pre-line;
  word-wrap: break-word;
}

p {
  margin: 0 0 10px;
}

.form-control {
  border-radius: 3px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  position: relative;
  top: 7px;
}

h4.modal-title.float-left {
  float: left;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.font-weight-400 {
  font-weight: 400;
}

.custom-radio-style {
  float: left;
  margin-right: 15px;
}

.zoom {
  width: 100%;
  overflow: auto;
}

.zoom img {
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: inherit !important;
}

.btn-zoom {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

.btn-zoom:hover,
.btn-zoom:active,
.btn-zoom.hover {
  background-color: #e7e7e7;
}

label.control-label {
  text-align: left !important;
}

@media (min-width: 768px) {
  label.control-label {
    padding-left: 20px;
    text-align: left !important;
  }
}

.padding-5 {
  padding: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.underline {
  text-decoration: underline;
}

mark {
  background-color: transparent !important;
  color: #f60808 !important;
}

.ai-input-background {
  background-color: #f6bdb4;
}