.required-field {
  float: left;
  padding-right: 2px;
  /* font-size: large; */
  font: normal normal 600 14px/18px Source Sans Pro;
  letter-spacing: -0.17px;
  color: #FF0000;
}

.owl-dt-container {
  font-size: 1.5rem !important;
}

.padding-10px {
  padding: 10px;
}

.padding-l-5 {
  padding-left: 5px;
}

.margin-t-0p {
  margin-top: 0px !important;
}

.padding-t-10px {
  padding-top: 10px !important;
}

.margin-l-0 {
  margin-left: 0px !important;
}

.div_options_withthumbnail_freetext {
  width: 100%;
  padding-top: 12px;
}

.whitespace {
  margin-left: 5px;
}

.break-word {
  word-break: break-word;
}

.width-98p {
  width: 98%;
}

.max-w-h-100 {
  max-width: 100%;
  max-height: 100%;
}

.carousel-control>.fa {
  font-size: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -20px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.div-simulator-form-height {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-20-14 {
  padding: 20px 14px;
}

.slide-left {
  left: 30px;
}

.slide-right {
  right: 30px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.white-space-line {
  white-space: pre-line;
  word-wrap: break-word;
}

p {
  margin: 0 0 10px;
}

.form-control {
  border-radius: 3px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
  height: 36px;
  /* position: relative;
  top: 7px; */
}

h4.modal-title.float-left {
  float: left;
}

.margin-b-0 {
  margin-bottom: 0px;
}

.font-weight-400 {
  font-weight: 400;
}

.custom-radio-style {
  float: left;
  margin-right: 15px;
}

.radio-btn-style {
  transform: scale(1.3); 
  margin-top : 2px;
}

.zoom {
  width: 100%;
  overflow: auto;
}

.zoom img {
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: inherit !important;
}

.btn-zoom {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}

.btn-zoom:hover, .btn-zoom:active, .btn-zoom.hover {
  background-color: #e7e7e7;
}

label.control-label {
  text-align: left !important;
}

@media (min-width: 768px) {
  label.control-label {
    /* padding-left: 20px; */
    text-align: left !important;
  }
}

.padding-5 {
  padding: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.underline {
  text-decoration: underline;
}

mark {
  background-color: transparent !important;
  color: #f60808 !important;
}

.ai-input-background {
  background-color: #f6bdb4;
}

.form-horizontal .control-label {
  padding-left: 0px !important;
}

.div_radiobutton {
  padding-left: 15px !important;
}

.paddingLeftNone {
  padding-left: 0px !important;
}

.labelparentdiv {
  padding-left: 0px !important;
  /* margin-bottom: 2px; */
  min-height: 35px;
}

.spantest {
  margin-left: 30px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.tabs .tab {
  float: left;
  display: block;
}

.tabs .tab>input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs .tab>label {
  /* display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #4A83FD; */
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: black;
}

.tabs .content {
  /* z-index: 0;
  overflow: hidden;
  width: 100%;
  padding: 25px;
  position: absolute;
  top: 27px;
  left: 0;
  background: #303030;
  color: #DFDFDF;
  opacity: 0;
  transition: opacity 400ms ease-out; */
  z-index: 0;
  overflow: hidden;
  width: 100%;
  /* padding: 25px; */
  position: absolute;
  top: 29px;
  left: 0;
  min-height: auto !important;
  /* background: #303030; */
  /* color: #DFDFDF; */
  border: 1px solid #ccc;
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked+label {
  top: 0;
  background: #3c8dbc;
  /* background: #303030; */
  color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked~[id^="tab-content"] {
  z-index: 1;
  /* or display: block; */
  opacity: 1;
  transition: opacity 400ms ease-out;
}

.div_img_thumbnail, .div_multi_img_thumbnail {
  /* width: 80px;
  height: 80px; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* border: 1px solid #ccc; */
  margin: 0px 5px;
  cursor: pointer;
  margin-top: 4px;
  position: relative;
  text-align: center;
  color: white;
  font-size: 11px;
  font-weight: 100;
  /* background: #e2dfdf; */
  background: black;
  margin-bottom: 5px !important;
  float: right;
}

.div_multi_img_thumbnail {
  float: right;
}

.centered {
  position: absolute;
  bottom: 2px;
  right: 0px;
}

i.fa-search {
  display: inline-block;
  border-radius: 40px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: black;
}

/* .div_img_thumbnail img {
 
} */

/* The Modal (background) */

.imgmodal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 63px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.div_options_withthumbnail_parent {
  display: inline-grid;
  padding: 5px;
  /* border: 1px solid #ccc; */
  width: 100%;
  margin-top: 10px;
}

.div_options_withthumbnail:first-child {
  margin-top: 0px !important;
}

.div_options_withthumbnail_choice {
  margin-bottom: 10px;
}

.div_options_withthumbnail {
  /* border-bottom: 1px solid #ccc; */
  /* padding-bottom: 10px; */
  padding-left: 3px;
  /* margin-bottom: 10px; */
  width: 100%;
  border: 1px solid transparent;
  /* margin-left: -18px; */
  /* margin-top: -11px; */
  /* padding-top: 10px; */
  /* text-align: center; */
}

.text_center {
  text-align: center;
  width: 100% !important;
}

.width_100p {
  width: 100%;
}

.div_options_withthumbnail:hover {
  /* background: #f1f1f1; */
  cursor: pointer;
  color: black;
  /* border: 1px solid #1686f3; */
}

.label_align_multi_img {
  width: 100%;
  padding-right: 15px;
}

.left-8px {
  left: -8px !important;
}

.highlightchoice {
  /* background: #f1f1f1;
  border: 3px solid #1686f3 !important; */
  color: black; 
}

.fa-cust {
  display: none;
}

.highlightchoice .fa-cust {
  display: block !important;
}

.border-top {
  border-top: 1px solid #ccc
}

.margin-t-3p {
  margin-top: 3%;
}

.margin-t-1p {
  margin-top: 1%;
}

.div_img_thumbnail img, .div_multi_img_thumbnail img {
  flex: 1;
  /* height: 100%; */
  /* height: 100px;
  width: 100px; */
  /* margin-right: 5px; */
  /* margin-top: 5px; */
  height: 50px;
  width: 50px;
  object-fit: contain;
  /* float: right; */
  border: 2px solid #ccc;
}

.label_align {
  width: calc(100% - 5em);
  padding-top: 15px;
}

.left-0px {
  left: 0px !important;
}

hr.solid {
  width: 100%;
  height: 0.5px;
  /* background-color: #77777794; */
}

.option_label_withthumbnail {
  position: relative;
  bottom: 4px;
  left: 10px;
  display: inline-block;
  /* width: 50%; */
  /* width: 330px; */
  /* white-space: nowrap; */
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: block;
  word-break: break-word;
}

.option_label_withthumbnail_mutliselect {
  position: relative;
  bottom: 4px;
  left: 10px;
  width: 330px;
}

.tick_align {
  position: absolute;
  top: -13px;
  left: -6px;
  font-size: xx-large;
  font-weight: 700;
  color: #98d19d;
}

.margin-t-10p {
  margin-top: 10px;
}

.option_label_withthumbnail_mutliselect_label_text {
  display: inline-block;
  /* width: 50%; */
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.checkbox label, .radio label {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.radio label {
  padding-left: 10px;
  padding-right: 30px;
}

.option_label_withthumbnail_freetext {
  font-weight: 600 !important;
  position: relative;
  top: 1px;
}

.min-height-40px {
  min-height: 40px;
}

#tab-content1 {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}

option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tab-content2 {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.div_options_withthumbnail_freetext {
  padding-top: 10px;
  /* padding-bottom: 0px; */
  padding-left: 10px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.reportContent {
  font-size: 16px;
}

.span_sectionName {
  font-size: 16px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: black !important;
}

img:focus {
  outline: none !important;
}

div:focus {
  outline: none !important;
}

@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: -54px !important;
  }
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white !important;
  border: 1px solid #ccc !important;
  border-radius: 10px;
}

.div_modal_hint_diagram .modal-content {
  width: 100% !important;
  max-width: none !important;
}

.div_modal_hint_diagram .carousel-control .icon-prev {
  font-size: 70px !important;
}

.show-error {
  border-color: red !important;
}

.show-error_radio {
  border: 1px solid #ccc;
  border-color: red !important;
}

.div_mutlitselect_parent {
  /* padding-left: 10px; */
  /* border: 1px solid #d2d6de; */
  /* display: block; */
  /* margin: 0px; */
  /* padding: 10px; */
  display: inline-block;
  width: 100%;
  padding: 12px 0px 20px 12px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  opacity: 1;
}

.radio-custom+.radio-custom-label:before {
  content: '';
  border: 2px solid red;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  margin-left: auto !important;
  margin-right: auto !important;
}

.hr-line {
  border: 1px solid #ebe8e8;
}

label.control-label {
  font: normal normal 600 14px/18px 'Source Sans Pro' !important;
  letter-spacing: -0.17px;
  color: #2C3B41;
}

.margin-l-4px {
  margin-left: -4px;
}

.border-b-grey {
  border-bottom: 1px solid #EDEDED;
}

.help-icon {
  padding-left: 4px;
  color: #3c8dbc;
  font-size: 14px;
}

.check-box-multi {
  padding-top: 6px !important;
  padding-bottom: 12px !important;
  margin-left: -18px;
}

.popover {
  padding: 0px;
}

.popover.right {
  margin-left: 4px;
}

.popover-title {
  background: #337ab7;
  color: white;
  border-radius: 5px 5px 5px 5px;
}

.popover .arrow {
  visibility: hidden;
}

.whitespace .required {
  margin-left: 0px !important;
}

.report-result {
  border: none;
  background: white;
}

.empty-report {
  border: 1px solid #3c8dbc;
  background: #ecf0f5;
}

.label-note {
  font: italic normal normal 12px/14px Source Sans Pro;
  letter-spacing: -0.14px;
  color: #3C8DBC;
  opacity: 1;
}

.report-text {
  padding: 0px 10px;
}