<ng-container *ngIf="dataElement !== undefined">
  <button type="button" class="btn btn-default font-size-inherit" (click)="openDiagram()">
    <span class="glyphicon glyphicon-picture" aria-hidden="true" data-toggle="tooltip" data-placement="top"
      title="Hint Diagrams"></span>
  </button>
  <div bsModal #modalPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="modalPopup.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title float-left">{{dataElement.label}}</h4>
        </div>
        <div class="modal-body">
          <carousel [(activeSlide)]="activeSlideIndex" interval="false">
            <ng-container *ngFor="let diag of dataElement.diagrams ">
              <slide>
                <img class="img-responsive max-w-h-100" [src]="getImageDataUrl(diag.location) | secure"
                  alt="{{ diag.label }}">
              </slide>
            </ng-container>
          </carousel>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="modalPopup.hide()" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>