<ng-container *ngIf="!isEmptyContent">
  <ng-container *ngIf="(Metadata != undefined || (!isValid))">
    <div class="row">
      <div class="col-sm-6 text-right border-0">
        <h4>
          <ng-container *ngIf="Metadata != undefined">
            <strong>{{Metadata.Label}} </strong>
          </ng-container>

        </h4>
      </div>
      <div class="col-md-6 text-left">
        <ng-container *ngIf="(!isValid)">
          <h4>
            <code>
              Selected XML does not meets the XML Schema.
            </code>
          </h4>

        </ng-container>
      </div>
    </div>
  </ng-container>
  <br/>
  <div class="row content-padding">
    <ng-container *ngIf="!settingsService.loadKeyDiagram">
      <div class="col-sm-12 ">

        <form #form="ngForm" class="form-horizontal">
          <acr-data-element [ValidationBlocks]="ValidationBlocks" [DataElements]="DataElements" [FormValues]="FormValues"></acr-data-element>
        </form>

      </div>
    </ng-container>
    <ng-container *ngIf="settingsService.loadKeyDiagram">
      <div class="col-sm-7 ">

        <form #form="ngForm" class="form-horizontal">
          <acr-data-element [ValidationBlocks]="ValidationBlocks" [DataElements]="DataElements" [FormValues]="FormValues"></acr-data-element>
        </form>

      </div>
      <div class="col-sm-5 padding-top-5">
        <div id="myNav">
          <ng-container *ngIf="Metadata != undefined">
            <ng-container *ngIf="settingsService.loadKeyDiagram">
              <div class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <ng-container *ngFor="let diag of Metadata.Diagrams ">
                    <ng-container *ngIf="Metadata.Diagrams.indexOf(diag) == 0">
                      <div class="item active">
                        <img src="{{diag.ImagePath}}">
                      </div>
                    </ng-container>

                    <ng-container *ngIf="Metadata.Diagrams.indexOf(diag) > 0">
                      <div class="item">
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
                <ng-container *ngIf="Metadata.Diagrams.length > 1">
                  <!-- Controls -->
                  <a class="left carousel-control" onclick="return false;" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" onclick="return false;" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ng-container>
        <ng-container *ngFor="let block of ExpressionBlocks">
          <acr-expresssion-block [ExpBlock]="block" [FormValues]="FormValues" [DataElements]="DataElements" (onExpressionChanged)="displayDataElements($event)"></acr-expresssion-block>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
