<ng-container *ngFor="let ReportText of ReportTexts">
  <ng-container *ngIf="ReportText.ResultText != ''">
    <div >
      <label> {{ReportText.ResultText}} </label>
    </div>
  </ng-container>
  <ng-container *ngIf="ReportText.DataElementID != ''">
    <div >
      <label> {{InsertValue(ReportText.DataElementID)}} </label>
    </div>
    <br/>
  </ng-container>

  <ng-container *ngIf="ReportText.Condition != ''">
    <ng-container *ngIf="evaluate(ReportText.Condition)">
      <acr-report-text [ReportTexts]="ReportText.NestedReportText" [FormValues]="FormValues"></acr-report-text>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="ReportText.Condition == ''">
    <acr-report-text [ReportTexts]="ReportText.NestedReportText" [FormValues]="FormValues"></acr-report-text>
  </ng-container>
</ng-container>
