<form [formGroup]="multiChoiceElementForm" novalidate>
  <div class="form-group">
    <div class="col-sm-5 text-right">
      <label class="control-label">{{multiChoiceElement.label}}
      </label>
      <ng-container *ngIf="multiChoiceElement.hint !== '' && multiChoiceElement.hint !== undefined">
        <i class="fa fa-info-circle text-primary whitespace" title="{{multiChoiceElement.hint}}"></i>
      </ng-container>
      <ng-container *ngIf="multiChoiceElement.diagrams != undefined ">
        <acr-hint-diagram [DataElement]="multiChoiceElement" [imagePath]="imagePath"></acr-hint-diagram>
      </ng-container>
      <span *ngIf="multiChoiceElementForm.controls['multiCheckBox'].invalid && !multiChoiceValues.length" class="required-field"
        title="Required Field">
        *
      </span>
    </div>
    <div class="col-sm-7">
      <div *ngFor="let choice of multiChoiceElement.choiceInfo" class="checkbox" title="{{choice.hint}}">
        <label>
          <input type="checkbox" id="{{multiChoiceElement.id}}_{{choice.value}}" [checked]="false" formControlName="multiCheckBox" value="{{choice.value}}"
            (change)="updateMultiChoice(multiChoiceElement.id, multiChoiceElement.label, (choice.reportText !== undefined) ? choice.reportText : choice.label, $event)"> {{choice.label}}
        </label>
      </div>
    </div>
  </div>
</form>
