

.col-centered {
  float: none;
  margin: 0 auto;
}


.navbar-fixed-top {
  border: 0;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #222d32;
    border-right: 1px solid #eee;
  }
}



.navbar-blue {
  background-color: #1e89b5;
}

.navbar-blue .navbar-brand {
  color: #fff;
}


/*
 * Main content
 */

.main {
  padding: 0px;
}



@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 893px) {
  .col-md-10.main {
    margin-top: -50px;
  }
}

@media (max-width: 892px) {
  .col-md-10.main {
    margin-top: 00px;
  }
}

.main .page-header {
  margin-top: 0;
}
img.logo {
  width: 100% !important;
  max-height: 50px;
}

@media (min-width: 991px) {
.img.logo {
  width: 100% !important;
  max-width: 150px;
}
}