body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif !important;
  color: black;
  background: #f3f3f4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  height: 100%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

h5 {
  margin-top: 5px;
  font-weight: 600;
}

body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

.custom-btn {
  background-color: #1dc5a3;
  border: none;
}

.custom-btn:hover {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}

img.logo {
  height: 100%;
  margin-bottom: -3px;
  min-height: 30px;
  width: 100%;
}

@media (max-width: 767px) {
  img.logo {
    height: 100%;
    min-height: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 991px) {
  .img.logo {
    width: 100% !important;
    max-width: 150px;
  }
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  background: #2f4050;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 220px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 220px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 10px 15px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  #page-content-wrapper {
    padding: 0px 20px;
  }
}

.margin-0 {
  margin: 0;
}

.nav>li>a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.nav.navbar-right>li>a {
  color: #999c9e;
}

.nav>li.active>a {
  color: #ffffff;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
  background-color: #293846;
  color: white;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #fff;
}

.nav.navbar-top-links>li>a:hover,
.nav.navbar-top-links>li>a:focus {
  background-color: transparent;
}

.nav>li>a i {
  margin-right: 6px;
}

.navbar {
  border: 0;
}

.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}

.nav-header {
  padding: 10px 25px;
}

.nav-header h2 {
  margin: 0;
  color: #fff;
  font-size: 22px;
}

.nav>li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}

.nav-header a {
  color: #DFE4ED;
}

.nav-header .text-muted {
  color: #8095a8;
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover>.nav-second-level,
.mini-navbar .nav li:focus>.nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}

.navbar-default .special_link a {
  background: #1ab394;
  color: white;
}

.navbar-default .special_link a:hover {
  background: #17987e !important;
  color: white;
}

.navbar-default .special_link a span.label {
  background: #fff;
  color: #1ab394;
}

.navbar-default .landing_link a {
  background: #1cc09f;
  color: white;
  padding: 14px 3px 14px 10px;
  pointer-events: none;
  font-size: 13px;
}

.navbar-default .landing_link a:hover {
  background: #1ab394 !important;
  color: white;
}

.navbar-default .landing_link a span.label {
  background: #fff;
  color: #1cc09f;
}

#wrapper {
  width: 100%;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 0px 10px 0;
}

.modal-backdrop {
  z-index: 2040 !important;
}

.modal {
  z-index: 2050 !important;
}

body.modal-open {
  padding-right: inherit !important;
}

body.modal-open .animated {
  animation-fill-mode: initial;
  z-index: inherit;
}

@media (max-width: 768px) {
  .navbar-header {
    display: inline;
  }
}

