<acr-version-display></acr-version-display>

<nav class="navbar navbar-fixed-top navbar-blue">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">ACR Assist Simulator </a> <acr-version-display></acr-version-display>
    </div>

  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <acr-view-upload-loader (onFileSelected)="onFileSelected($event)"></acr-view-upload-loader>
    </div>

    <div class="col-md-10 col-md-offset-2 main">
      <div class="row">
        <div class="col-md-12">
          <acr-assist-simulator templateContent={{fileContent}} imagePath={{imagePath}}></acr-assist-simulator>
        </div>
      </div>
    </div>
  </div>
</div>
