
img.logo {
  height: 100%;
  margin-bottom: -3px;
  min-height: 30px;
  width: 100%;
  /* padding-left: 25px; */
}

@media (max-width: 767px) {
  img.logo {
    height: 100%;
    min-height: 30px;
    margin-left: 0px;
  }
}

@media (min-width: 991px) {
  .img.logo {
    width: 100% !important;
    max-width: 150px;
  }
}