
 
<div class="row">
  <div class="col-md-2 sidebar">
    <nav class="navbar navbar-fixed-top navbar-blue">
      <div class="container-fluid">
        <div class="navbar-header logo-section">
          <a class="navbar-brand logo-section" href="#"><img src="./assets/images/acr-assist-white.png" class="logo"> </a>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <acr-view-upload-loader (onFileSelected)="onFileSelected($event)"></acr-view-upload-loader>
    </div>

    <div class="col-md-10 main">
      <div class="row">
        <div class="col-md-12">
          <acr-assist-simulator templateContent={{fileContent}} imagePath={{imagePath}} [reportTextPosition]="position.Right" [showKeyDiagram]="false" [inputValues]="inputValues" (returnDefaultElements)="returnDefaultElements()"></acr-assist-simulator>
        </div>
      </div>
    </div>
  </div>
</div>

