<form [formGroup]="choiceElementForm" novalidate>
  <div class="form-group">
    <div class="col-sm-5 text-right">
      <label class="control-label">
        {{choiceDataElement.label}}
      </label>
      <ng-container *ngIf="choiceDataElement.hint !== '' && choiceDataElement.hint !== undefined">
        <i>
          <span class="fa fa-info-circle text-primary" data-toggle="tooltip" data-placement="right" title="{{choiceDataElement.hint}}"></span>
        </i>
      </ng-container>
      <ng-container *ngIf="choiceDataElement.diagrams != undefined ">
        <acr-hint-diagram [DataElement]="choiceDataElement" [imagePath]="imagePath"></acr-hint-diagram>
      </ng-container>
      <span *ngIf="choiceElementForm.controls['checkBox'].invalid  && this.choiceDataElement.isRequired" class="required-field"
        title="Required Field">*</span>
    </div>
    <div class="col-sm-7 text-left content-padding">
      <ng-container *ngIf="choiceDataElement.choiceInfo.length <= 2">
        <ng-container *ngIf="imagePath != undefined">
          <ng-container *ngIf="choiceDataElement.imageMap == undefined">
            <ng-container *ngFor="let choice of choiceDataElement.choiceInfo">
              <div class="radio" style="float:left; margin-right:15px;">
                <label>
                  <input [(ngModel)]="choiceValue" id="{{choice.value}}_{{choiceDataElement.id}}" type="radio" formControlName="checkBox" value="{{choice.value}}"
                    (change)="choiceSelected(choiceDataElement.id, choiceDataElement.label, (choice.reportText !== undefined) ? choice.reportText : choice.label, choice.value)"> {{choice.label}}
                </label>
              </div>
            </ng-container>
            <ng-container *ngIf="choiceDataElement.allowFreetext">
              <div class="radio" style="float:left; margin-right:15px;">
                <label>
                  <input id="other_{{choiceDataElement.id}}" type="radio" formControlName="checkBox" value="freetext" (change)="choiceSelected(choiceDataElement.id, choiceDataElement.label, 'Other', 'freetext')"> Other, please specify…</label>
              </div>
              <div id='div_{{choiceDataElement.id}}_other'>
                <input id="txt_other_{{choiceDataElement.id}}" class="form-control" type="text" formControlName="checkBox" value="other"
                  class="form-control" (keyup)='updateFreeText($event.target, choiceDataElement.id, choiceDataElement.label)'
                  placeholder="Please specify '{{choiceDataElement.label}}'">
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="choiceDataElement.imageMap != undefined">
            <div class="row">
              <div class="col-xs-6 col-sm-2">
                <ng-container *ngFor="let choice of choiceDataElement.choiceInfo">
                  <div class="radio" style="float:left; margin-right:15px;">
                    <label>
                      <input [(ngModel)]="choiceValue" id="{{choice.value}}_{{choiceDataElement.id}}" type="radio" formControlName="checkBox" value="{{choice.value}}"
                        (change)="choiceSelected(choiceDataElement.id, choiceDataElement.label, (choice.reportText !== undefined) ? choice.reportText : choice.label, choice.value)"> {{choice.label}}
                    </label>
                  </div>
                </ng-container>
                <ng-container *ngIf="choiceDataElement.allowFreetext">
                  <div class="radio" style="float:left; margin-right:15px;">
                    <label>
                      <input id="other_{{choiceDataElement.id}}" type="radio" formControlName="checkBox" value="other" (change)="choiceSelected(choiceDataElement.id, choiceDataElement.label, 'Other', 'freetext')"> Other, please specify…</label>
                  </div>
                  <div id='div_{{choiceDataElement.id}}_other'>
                    <input id="txt_other_{{choiceDataElement.id}}" class="form-control" type="text" formControlName="checkBox" value="other"
                      class="form-control" (keyup)='updateFreeText($event.target, choiceDataElement.id, choiceDataElement.label)'
                      placeholder="Please specify '{{choiceDataElement.label}}'">
                  </div>
                </ng-container>
              </div>
              <div class="col-xs-6 col-sm-2">
                <label class="control-label">OR</label>
              </div>
              <acr-image-map [DataElement]="choiceDataElement" [imagePath]="imagePath"></acr-image-map>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="choiceDataElement.choiceInfo.length > 2">
        <select [(ngModel)]="choiceValue" id="{{choiceDataElement.id}}" (change)="dropdownChoiceSelected($event.target, choiceDataElement.label)"
          formControlName="checkBox" class="form-control">
          <option [value]="Select" [selected]="true">--Select--</option>
          <option *ngFor="let choice of choiceDataElement.choiceInfo" [value]="choice.value" [selected]="choice.value === choiceDataElement.currentValue">{{choice.label}}</option>
          <option *ngIf="choiceDataElement.allowFreetext" [value]="freetext" [selected]='freetext'>Other, please specify…</option>
        </select>
        <div id='div_{{choiceDataElement.id}}_other'>
          <input id="txt_other_{{choiceDataElement.id}}" class="form-control" type="text" formControlName="checkBox" value="other"
            placeholder="Please specify '{{choiceDataElement.label}}'" (keyup)='updateFreeText($event.target, choiceDataElement.id, choiceDataElement.label)'>
        </div>
        <ng-container *ngIf="choiceDataElement.imageMap != undefined  && imagePath != undefined">
          <div class="row padding-top-10">
            <div class="col-xs-6 col-sm-2">
              <label class="control-label">OR</label>
            </div>
            <acr-image-map [DataElement]="choiceDataElement" [imagePath]="imagePath"></acr-image-map>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</form>

