

    <ng-container *ngIf="ExpBlock !== undefined && !validate(ExpBlock.ValidationCondition)">

         <ng-container *ngIf="evaluate(ExpBlock.Condition, ExpBlock.NotRelavantDataElements)">
          <ng-container *ngIf="(ExpBlock.Result != undefined)">
          <acr-expression-result [DataElements]="DataElements" [ExpBlock]="ExpBlock" [Result]="ExpBlock.Result" [FormValues]="FormValues" (onValueChanged)="changedValues($event)"></acr-expression-result>
         </ng-container>

        <ng-container *ngIf="ExpBlock.NestedBlocks.length > 0">
          <ng-container *ngFor="let NestedBlock of ExpBlock.NestedBlocks">
                <acr-expresssion-block [ExpBlock]="NestedBlock" [FormValues]="FormValues" [DataElements]="DataElements" ></acr-expresssion-block>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="ExpBlock.ElseBlocks.length > 0">
        <ng-container *ngIf="!evaluate(ExpBlock.Condition,ExpBlock.NotRelavantDataElements)">
          <ng-container *ngFor="let ElseBlock of ExpBlock.ElseBlocks">
           <acr-expresssion-block [ExpBlock]="ElseBlock" [FormValues]="FormValues" [DataElements]="DataElements"> </acr-expresssion-block>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
