<ng-container *ngIf="!isEmptyContent">
    <div class="row">
        <div class="col-sm-6 text-right border-0">
          <h4>
            <ng-container *ngIf="template.metadata != undefined">
              <strong>{{template.metadata.label}} </strong>
            </ng-container>  
          </h4>
        </div>
    </div>
    <ng-container>
        <acr-assist-data-element [dataElements]="template.dataElements" [Endpoints]="template.endPoints" [templatePartial]="template.templatePartial" [endPointXMLString]="template.endPointsString"
        [imagePath]="imagePath" [keyDiagrams]="keyDiagrams" [Rules]="template.rules"  (returnReportText)='recieveReportText($event)'></acr-assist-data-element>    
    </ng-container>    
    <ng-container *ngIf="resultText !== undefined">
      <acr-assist-report-text [reportText]="resultText" ></acr-assist-report-text>
    </ng-container>
</ng-container>

