<ng-container *ngIf="!isEmptyContent">
<div class="col-sm-12 col-md-12 col-lg-12">
  <h4>
    <button class="btn btn-sm bg-olive margin" (click)="resetElements()">
      <strong>Reset Data</strong>
    </button>
  </h4>
</div>

  <div *ngIf="reportTextPosition === position.Top">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div id="div-simulator-block">
        <div class="box box-primary box-solid margin-b-0">
          <div class="box-body">
            <ng-container *ngIf="resultText !== undefined">
              <div id="div-simulator-results-block">
                <div class="box box-primary">
                  <div class="box-header with-border">
                    <h3 class="box-title">Report Text</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                        <i id="icon_reporttext" class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div id="body_reporttext" class="box-body report-text">
                    <dl>
                      <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
                    </dl>
                  </div>
                </div>
              </div>
            </ng-container>
            <div id="div-simulator-form" class="padding-r-10 div-simulator-form-height">
              <div>
                <form class="form-horizontal">
                  <acr-assist-data-element [dataElements]="dataElements" [templatePartial]="template.templatePartial" [endPointXMLString]="template.endPointsString"
                    [imagePath]="imagePath" [xmlContent]="template.xmlContent" (returnReportText)='recieveReportText($event)'
                    [inputValues]="inputValues" [isReset]="isReset" (returnExecutionHistory)='recievedExecutionHistory($event)'></acr-assist-data-element>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="reportTextPosition === position.Right">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div id="div-simulator-block">
        <div class="box box-primary box-solid margin-b-0">
          <div class="box-body">
            <div id="div-simulator-form" class="padding-r-10 div-simulator-form-height">
              <form class="form-horizontal">
                <acr-assist-data-element [dataElements]="dataElements" [templatePartial]="template.templatePartial" [endPointXMLString]="template.endPointsString"
                  [imagePath]="imagePath" [xmlContent]="template.xmlContent" (returnReportText)='recieveReportText($event)'
                  [inputValues]="inputValues" [isReset]="isReset" (returnExecutionHistory)='recievedExecutionHistory($event)'></acr-assist-data-element>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <ng-container *ngIf="resultText !== undefined">
        <div id="div-simulator-results-block">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Report Text</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                  <i id="icon_reporttext" class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div id="body_reporttext" class="box-body report-text">
              <dl>
                <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
              </dl>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-6" id="div-decissionTree-Block" *ngIf="showKeyDiagram === true">
      <div class="box box-primary margin-b-0">
        <div class="box-header with-border">
          <h3 class="box-title">Key Diagrams</h3>
          <input #imageUpload id="diagramUpload" class="hidden" type="file" accept="image/*" multiple (change)="changeListener($event)">
          <label for="diagramUpload" class="btn btn-sm bg-olive margin" style="margin:10px;" title="Choose Diagrams">Choose a Diagram</label>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" (click)="collapseKeyDiagram()">
              <i id="icon_keydiagram" class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div id="body_keydiagram" class="box-body">
          <div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
              <ng-container *ngFor="let diagram of keyDiagrams; let i = index">
                <div class="item" [ngClass]="{'active': diagram.keyDiagram}">
                  <img class="img-responsive img-decissionTree" src="{{ diagram.location }}" alt="{{ diagram.label }}">
                </div>
              </ng-container>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
