<ng-container *ngIf="!isEmptyContent">
  <div id="topReportTextPosition"
    *ngIf="reportTextPosition === position.Top || reportTextPosition === undefined || reportTextPosition === null">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div id="div-simulator-block">
        <div #simulatorBlock class="box box-primary box-solid margin-b-0">
          <div *ngIf="showResetButton == true" class="with-border  text-right padding-5 padding-r-10">
            <button (click)="resetElements()"
              class="btn btn-xs btn-primary font-size-inherit btn-simulator-reset">Reset</button>
          </div>
          <div class="box-body">
            <div #simulatorResultsBlock>
              <ng-container *ngIf="resultText !== undefined && showReportText && !isRequiredFieldIsNotFilled">
                <div class="box box-primary full-border" style="background-color: #eef0f2;">
                  <div class="box-header with-border">
                    <span class="box-title font-size-overrider">Report Text</span>
                    <div class="box-tools pull-right">
                      <!-- <span class="btn btn-box-tool btn-report-text" title="Copy to clipboard"
                        [clipboard]="reportTextContentForTop.innerText.trim()" (clipboardCopy)="clipboardSuccess($event)"
                        (clipboardError)="clipboardError($event)" acrClipboard>
                        <i class="fa fa-clipboard"></i>
                      </span> -->
                      <span class="btn btn-box-tool btn-report-text float-right" title="Copy to clipboard"
                        (click)="getReportTextInnerContent(reportTextContentForTop)">
                        <span>
                          <i class="fa fa-clipboard"></i>
                        </span>
                      </span>
                      <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                        <i id="icon_reporttext" class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div id="body_reporttext" class="box-body report-text">
                    <dl #reportTextContentForTop>
                      <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
                    </dl>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="padding-r-10 scroll">
              <form class="form-horizontal">
                <acr-assist-data-element [customizeChoiceControlById]="customizeChoiceControlById"
                  [choiceControlStyle]="choiceControlStyle" [choiceElementDisplay]="choiceElementDisplay"
                  [alignLabelAndControlToTopAndBottom]="alignLabelAndControlToTopAndBottom"
                  [dataElements]="dataElements" [templatePartial]="template.templatePartial"
                  [endPointXMLString]="template.endPointsString" [assetsBaseUrl]="assetsBaseUrl"
                  [xmlContent]="template.xmlContent" (returnReportText)='recieveReportText($event)'
                  [inputValues]="inputValues" [isReset]="isReset" [showTabularReportText]="showTabularReportText"
                  (callBackAfterGettingShowKeyDiagram)='gettingShowKeyDiagram($event)'
                  (returnDataElementChanged)='recivedOnDataElementChanged($event)'
                  (returnExecutionHistory)='recievedExecutionHistory($event)' [hideRadioButton]="hideRadioButton" [alignThumbnailLeftOrRight]="alignThumbnailLeftOrRight" [alignChoiceLabel]="alignChoiceLabel"></acr-assist-data-element>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="rightReportTextPosition" *ngIf="reportTextPosition === position.Right">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div id="div-simulator-block">
        <div #simulatorBlock class="box box-primary box-solid margin-b-0">
          <div *ngIf="showResetButton == true" class="with-border text-right padding-5 padding-r-10">
            <button (click)="resetElements()"
              class="btn btn-xs btn-primary font-size-inherit btn-simulator-reset">Reset</button>
          </div>
          <div class="box-body">
            <div id="div-simulator-form" class="padding-r-10 div-simulator-form-height">
              <form class="form-horizontal">
                <acr-assist-data-element [customizeChoiceControlById]="customizeChoiceControlById"
                  [choiceControlStyle]="choiceControlStyle" [choiceElementDisplay]="choiceElementDisplay"
                  [alignLabelAndControlToTopAndBottom]="alignLabelAndControlToTopAndBottom"
                  [dataElements]="dataElements" [templatePartial]="template.templatePartial"
                  [endPointXMLString]="template.endPointsString" [assetsBaseUrl]="assetsBaseUrl"
                  [xmlContent]="template.xmlContent" (returnReportText)='recieveReportText($event)'
                  [inputValues]="inputValues" [isReset]="isReset" [showTabularReportText]="showTabularReportText"
                  (callBackAfterGettingShowKeyDiagram)='gettingShowKeyDiagram($event)'
                  (returnDataElementChanged)='recivedOnDataElementChanged($event)'
                  (returnExecutionHistory)='recievedExecutionHistory($event)' [hideRadioButton]="hideRadioButton" [alignThumbnailLeftOrRight]="alignThumbnailLeftOrRight" [alignChoiceLabel]="alignChoiceLabel"></acr-assist-data-element>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <ng-container *ngIf="hideKeyDiagramTab">
        <div #simulatorResultsBlock>
          <ng-container *ngIf="resultText !== undefined && showReportText">
            <div class="box box-primary">
              <div class="box-header with-border min-height-40px">
                <span class="box-title">Report Text</span>
                <div class="box-tools pull-right">
                  <!-- <span class="btn btn-box-tool btn-report-text" title="Copy to clipboard"
                  [clipboard]="reportTextContentForRight.innerText.trim()" (clipboardCopy)="clipboardSuccess($event)"
                  (clipboardError)="clipboardError($event)" acrClipboard>
                  <i class="fa fa-clipboard"></i>
                </span> -->
                  <span class="btn btn-box-tool btn-report-text float-right" title="Copy to clipboard"
                    (click)="getReportTextInnerContent(reportTextContentForRight)">
                    <span>
                      <i class="fa fa-clipboard"></i>
                    </span>
                  </span>
                  <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                    <i id="icon_reporttext" class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div id="body_reporttext" class="box-body report-text">
                <dl #reportTextContentForRight>
                  <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
                </dl>
              </div>
            </div>
            {{ resizeKeyImages() }}
          </ng-container>
        </div>
      </ng-container>


      <ul class="tabs col-sm-12 col-md-12 col-lg-12" *ngIf="!hideKeyDiagramTab">
        <li class="tab">
          <input type="radio" name="tabs" checked="checked" id="tab1_reportText" />
          <label for="tab1_reportText">Report Text</label>
          <div id="tab-content1" class="content">
            <div #simulatorResultsBlock>
              <ng-container *ngIf="resultText !== undefined && showReportText && !isRequiredFieldIsNotFilled">
                <div class="box box-primary">
                  <div class="box-header with-border min-height-40px">
                    <!-- <span class="box-title">Report Text</span> -->
                    <div class="box-tools pull-right">
                      <!-- <span class="btn btn-box-tool btn-report-text" title="Copy to clipboard"
                        [clipboard]="reportTextContentForRight.innerText.trim()" (clipboardCopy)="clipboardSuccess($event)"
                        (clipboardError)="clipboardError($event)" acrClipboard>
                        <i class="fa fa-clipboard"></i>
                      </span> -->
                      <span class="btn btn-box-tool btn-report-text float-right" title="Copy to clipboard"
                        (click)="getReportTextInnerContent(reportTextContentForRight)">
                        <span>
                          <i class="fa fa-clipboard"></i>
                        </span>
                      </span>
                      <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                        <i id="icon_reporttext" class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div id="body_reporttext" class="box-body report-text">
                    <dl #reportTextContentForRight>
                      <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
                    </dl>
                  </div>
                </div>
                {{ resizeKeyImages() }}
              </ng-container>
            </div>
          </div>
        </li>

        <li class="tab" *ngIf="!hideKeyDiagramTab">
          <input type="radio" name="tabs" id="tab2_keyimage" />
          <label for="tab2_keyimage">Key Image</label>
          <div id="tab-content2" class="content">
            <ng-container *ngIf="showKeyDiagram === true">
              <div class="box box-primary margin-b-0">
                <div class="box-header with-border">
                  <!-- <h3 class="box-title">Key Images</h3> -->
                  <input #imageUpload id="diagramUpload" class="hidden" type="file" accept="image/*" multiple
                    (change)="changeListener($event)">
                  <label *ngIf="!hideKeyImageUpload" for="diagramUpload"
                    class="btn btn-sm btn-success bg-olive margin-l-10" title="Choose Diagrams">Choose a Diagram</label>
                  <div class="pull-right padding-l-5">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"
                      (click)="collapseKeyDiagram()">
                      <i id="icon_keydiagram" class="fa fa-minus"></i>
                    </button>
                  </div>
                  <div class="pull-right padding-l-5">
                    <button type="button" class="btn btn-zoom btn-sm" onclick="zoomIn()">
                      <i class="fa fa-search-plus fa-lg"></i>
                    </button>
                  </div>
                  <div class="pull-right padding-l-5">
                    <button type="button" class="btn btn-zoom btn-sm" onclick="zoomOut()">
                      <i class="fa fa-search-minus fa-lg"></i>
                    </button>
                  </div>
                  <div [hidden]="!isInvalidFile" class="error-msg">Only image files are supported !!!</div>
                </div>

                <div id="body_keydiagram" class="box-body">
                  <div id="carousel-example-generic" style="height: auto !important;"
                    [style.min-height]="keyDiagrams != undefined && keyDiagrams.length > 0 ? '300px' : '0px'"
                    class="carousel slide scroll" data-interval="false" data-ride="carousel">
                    <div class="carousel-inner">
                      <!-- <ng-container *ngFor="let diagram of keyDiagrams; let i = index">
                        <div class="item zoom" [ngClass]="{'active': diagram.keyDiagram}">
                          <drag-scroll>
                            <img drag-scroll-item id="map_id_{{ i }}" class="img-responsive img-decissionTree"
                            [src]="getImageDataUrl(diagram.location) | secure">
      
                          </drag-scroll>
                        </div>
                      </ng-container> -->
                      <div id="div_keydiagram_{{i}}" [attr.data-keydiagramId]="diagram.id"
                        [ngClass]="(i === 0) ? 'item zoom active' : 'item zoom'"
                        *ngFor="let diagram of keyDiagrams; let i = index;">
                        <drag-scroll>
                          <ng-container *ngIf="isValidImageURL(diagram.location); else notImageUrl">
                            <img drag-scroll-item id="map_id_{{ i }}" class="img-responsive img-decissionTree"
                              [src]="diagram.location" alt="{{diagram.label}}">
                          </ng-container>
                          <ng-template #notImageUrl>
                            <img drag-scroll-item id="map_id_{{ i }}" class="img-responsive img-decissionTree"
                              [src]="getImageDataUrl(diagram.location) | secure" alt="{{diagram.label}}">
                          </ng-template>
                        </drag-scroll>
                      </div>
                    </div>
                    <ng-container *ngIf="keyDiagrams && keyDiagrams.length > 1">
                      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left slide-left"></span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right slide-right"></span>
                      </a>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="col-sm-6 col-md-6 col-lg-6" id="div-right-reportText">
      <div #simulatorResultsBlock>
        <ng-container *ngIf="resultText !== undefined && showReportText">
          <div class="box box-primary">
            <div class="box-header with-border">
              <span class="box-title">Report Text</span>
              <div class="box-tools pull-right">
               
                <span class="btn btn-box-tool btn-report-text float-right" title="Copy to clipboard"
                  (click)="getReportTextInnerContent(reportTextContentForRight)">
                  <span>
                    <i class="fa fa-clipboard"></i>
                  </span>
                </span>
                <button type="button" class="btn btn-box-tool btn-report-text" (click)="collapseReportText()">
                  <i id="icon_reporttext" class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div id="body_reporttext" class="box-body report-text">
              <dl #reportTextContentForRight>
                <acr-assist-report-text [reportText]="resultText"></acr-assist-report-text>
              </dl>
            </div>
          </div>
          {{ resizeKeyImages() }}
        </ng-container>
      </div>
    </div> -->
    <!-- <div class="col-sm-6 col-md-6 col-lg-6 div_keyImage">
      <ng-container *ngIf="showKeyDiagram === true">
        <div class="box box-primary margin-b-0">
          <div class="box-header with-border">
            <h3 class="box-title">Key Images</h3>
            <input #imageUpload id="diagramUpload" class="hidden" type="file" accept="image/*" multiple
              (change)="changeListener($event)">
            <label for="diagramUpload" class="btn btn-sm btn-success bg-olive margin-l-10"
              title="Choose Diagrams">Choose a Diagram</label>
            <div class="pull-right padding-l-5">
              <button type="button" class="btn btn-box-tool" data-widget="collapse" (click)="collapseKeyDiagram()">
                <i id="icon_keydiagram" class="fa fa-minus"></i>
              </button>
            </div>
            <div class="pull-right padding-l-5">
              <button type="button" class="btn btn-zoom btn-sm" onclick="zoomIn()">
                <i class="fa fa-search-plus fa-lg"></i>
              </button>
            </div>
            <div class="pull-right padding-l-5">
              <button type="button" class="btn btn-zoom btn-sm" onclick="zoomOut()">
                <i class="fa fa-search-minus fa-lg"></i>
              </button>
            </div>
            <div [hidden]="!isInvalidFile" class="error-msg">Only image files are supported !!!</div>
          </div>

          <div id="body_keydiagram" class="box-body">
            <div id="carousel-example-generic" style="height: auto !important;"
              [style.min-height]="keyDiagrams != undefined && keyDiagrams.length > 0 ? '300px' : '0px'"
              class="carousel slide scroll" data-interval="false" data-ride="carousel">
              <div class="carousel-inner">
               
                <div id="div_keydiagram_{{i}}" attr.data-keydiagramId={{diagram.id}}
                  [ngClass]="(i === 0) ? 'item zoom active' : 'item zoom'"
                  *ngFor="let diagram of keyDiagrams; let i = index;">
                  <drag-scroll>
                    <img drag-scroll-item id="map_id_{{ i }}" class="img-responsive img-decissionTree"
                      [src]="getImageDataUrl(diagram.location) | secure" alt="{{diagram.label}}">
                  </drag-scroll>
                </div>
              </div>
              <ng-container *ngIf="keyDiagrams && keyDiagrams.length > 1">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left slide-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right slide-right"></span>
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div> -->
  </div>
</ng-container>