<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpCookies httpOnlyCookies="true"  requireSSL="true|false"/>
	</system.web>
	<system.webServer>
		<httpProtocol>
				<customHeaders>
					<add name="Content-Security-Policy" 
					  value="
                  frame-src 'self';
                  connect-src 'self' "/>				
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>
		<rewrite>
			<outboundRules rewriteBeforeCache="true">
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
			</outboundRules>
			<rules>
				<rule name="AngularJS Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/simulator/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>