<form [formGroup]="dateTimeElementForm" novalidate *ngIf="dateTimeDataElement.isVisible">
  <div class="form-group">
    <div class="col-sm-5 text-right">
      <label class="control-label">
        <!-- {{dateTimeDataElement | json}} -->
        {{dateTimeDataElement.label}}
      </label>
      <ng-container *ngIf="dateTimeDataElement.hint !== '' && dateTimeDataElement.hint !== undefined">
        <i class="fa fa-info-circle text-primary whitespace" title="{{dateTimeDataElement.hint}}"></i>
      </ng-container>
      <ng-container *ngIf="dateTimeDataElement.diagrams != undefined ">
        <acr-hint-diagram [dataElement]="dateTimeDataElement" [imagePath]="imagePath"></acr-hint-diagram>
      </ng-container>
      <ng-container *ngIf="this.dateTimeDataElement.isRequired">
          <span *ngIf="dateTimeElementForm.controls['dateTimeElement'].invalid">
            <span *ngIf="dateTimeElementForm.controls['dateTimeElement'].errors.required" class="required-field" title="Required Field">
              *
            </span>
          </span>
        </ng-container>
    </div>
    <div class="col-sm-7">      
      <div [ngClass]="dateTimeDataElement.isEditable == false ? 'disabled-picker' : ''">
          <angular2-date-picker  formControlName="dateTimeElement" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
      </div>     
   
   <!-- <ngx-duration-picker [(value)]="myValue" [disabled]="disabled"></ngx-duration-picker> -->
   <!-- <ngx-duration-picker  formControlName="dateTimeElement" [options]="durationOptions" [(value)]="myDuration"></ngx-duration-picker> -->
    </div>
  </div>
</form>
